 <!-- About Section -->
    <section class="success" id="hello">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Zrób to sam</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Zachęcam do uruchomienia pierwszego przykładu typu "Hello World". Potrzebne instrukcje znajdziesz na github.</p>
                </div>
                <div class="col-lg-4">
                    <p>Potrzebne będą Git, Java 1.7, Maven 3 i ServiceMix 5.4.0. Przyda się także SoaupUI 5.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a target="_blank" href="https://github.com/gniewkos/super-szybki-kurs-integracji-open-source" class="btn btn-lg btn-outline">
                        <i class="fa fa-github"></i> Kod i instrukcje
                    </a>
                </div>
            </div>
        </div>
    </section>