    <!-- Header -->
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/servicemix-camel-as-train-station-1.png" alt="">
                    <div class="intro-text">
                        <span class="name">Super szybki kurs integracji open source bit.do/superszybki</span>
                        <hr class="star-light">
                        <span class="skills">W oparciu o Apache Camel & ServiceMix.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>