 <!-- Intro Section -->
    <section class="intro" id="landscape">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Krajobraz integracji</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <img class="img-responsive img-centered" src="img/integration-landscape.png" alt="Krajobraz integracji, Integration Framework, ESB, Integration Suite">
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Z perspektywy mojego okna w biurowcu Sii...
                    </p>
                </div>
            </div>
        </div>
    </section>