 <!-- About Section -->
    <section class="success" id="mailchimp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Mailchimp: bit.do/superchimp</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Twója subskrypcja zostanie wykorzystana w celu demonstracji działania przykładu integracyjnego na 4Developers 2015. Prezentowana będzie tylko statystyka IMION osób zapisanych do listy. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a target="_blank" href="http://eepurl.com/bkbR3z" class="btn btn-lg btn-outline">
                        Dopisz się do listy obecności
                    </a>
                </div>
            </div>
        </div>
    </section>
